# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
.venv/
venv/

# Data folders (large image sets)
Data/
data/

# Sensitive info
.streamlit/secrets.toml
*.env

# Temporary / model training artifacts
model/checkpoints/
*.keras
*.hdf5
